<!-- //BEGIN-SNIPPET showcase -->
<div>
  With Time Input: <TimeEnabledPikadayInput @value={{this.timeValue}} @timeEnabled={{this.timeEnabled}} @onSelection={{this.onSelectionTime}} /> Binded value: {{this.timeValue}}
  <br>
  Without Time Input: <TimeEnabledPikadayInput @value={{this.dateValue}} @onSelection={{this.onSelectionDate}} /> Binded value: {{this.dateValue}}
  <br>
  With Time Inputless: <TimeEnabledPikadayInputless @value={{this.timeValue}} @timeEnabled={{this.timeEnabled}} @onSelection={{this.onSelectionTime}} /> Binded value: {{this.timeValue}}
  <br>
  Without Time Inputless: <TimeEnabledPikadayInputless @value={{this.dateValue}} @onSelection={{this.onSelectionDate}} /> Binded value: {{this.dateValue}}
  <br>
</div>
<!-- //END-SNIPPET -->